<table id="top-leader" class="Table-Normal">
<thead>
    <tr>
        <td>Position</td>
        <td>Name</td>
        <td>Kills</td>
        <td>Deaths</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>John Doe</td>
        <td>16 Kills</td>
        <td>0 Deaths</td>
    </tr>

    <tr>
        <td>2</td>
        <td>John Smith</td>
        <td>13 Kils</td>
        <td>1 Death</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Bob Smith</td>
        <td>11 Kills</td>
        <td>0 Deaths</td>
    </tr>
</tbody>
</table>